<!DOCTYPE html>
<html ng-app="counter">
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    </head>
    <body ng-controller="UpdateCounter as counter">
        <div>
            <p>Counter: {{ counter.number }}</p>
            <button ng-click="counter.increment()">Increment</button>
            <button ng-click="counter.decrement()">Decrement</button>
        </div>
        <script src="./script.js"></script>
    </body>
</html>
